
@font-face {
    font-family: 'Cursed Timer';
    src: url('resources/CursedTimerUlil-Aznm.ttf') format('truetype');
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------
    Mobile Design First
------------------------------------------------------------------------------*/
body {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
}

h3 {
    color: white;
    margin-bottom: 25px;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #064E3B;
    width: 90%;
    max-width: 750px;
    height: 250px;
    border-radius: 15px;
}
.score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 215px;
}
.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background-color: #080001;
    color: #F94F6D; 
    font-family: 'Cursed Timer', sans-serif;
    width: 100%;
    height: 75px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.point {
    border: 3px solid #6EE7B7;
    border-radius: 5px;
    color: #6EE7B7;
    font-family: 'Cursed Timer', sans-serif;
    margin-right: 0.25rem;
    cursor: pointer;
}

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {
    h3 {
        font-size: 40px;
    }
    
    .container {
        width: 80%;
        height: 300px;
    }
    .score {
        font-size: 60px;
        width: 60%;
        height: 100px;
    }
    .points {
        display: flex;
        justify-content: space-between;
        width: 65%;
    }
    .point {
        margin-right: 0;
    }
}